<nt name="gallery-wrapper">
	<div class="mt-3"><input name="search" type="text"/></div>
	<div class="mt-3" n-class-show-hide="::createURL">
		<a n-href="{::createURL}" class="btn btn-primary">Создать</a>
	</div>
	<div class="mt-3 table-responsive">
		<table class="table table-hover table-condensed table-striped">
			<thead>
				<tr></tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<nt name="gallery-pagination" data=":pagination"></nt>
	</div>
</nt>

<nt name="gallery-pagination">
	<nav role="pagination">
		<ul class="pagination">
			<li class="page-item"><a n-bind-click="::goToPrev" class="page-link" href="#">Назад</a></li>
			<nt data=":pages.list" name="gallery-paginationItem"></nt>
			<li class="page-item"><a n-bind-click="::goToNext" class="page-link" href="#">Вперед</a></li>
			<li class="page-item"><span class="page-link" n-content=" Всего {:items.count}"></span></li>
		</ul>
	</nav>
</nt>

<nt name="gallery-paginationItem">
	<li class="page-item" n-class-active=":active">
		<a class="page-link" href="#"  n-bind-click="::goToPage" n-content="{:index}"></a>
	</li>
</nt>

<nt name="number-editable">
	<button class="btn btn-success" type="button" n-bind-click=":more.action" n-content="{:more.title}"></button><br/>
	<b n-content="{:value}"></b><br/>
	<button class="btn btn-danger" type="button" n-bind-click=":less.action" n-content="{:less.title}"></button>
</nt>

<nt name="gallery-list">
	<div id="view-place"></div>
	<div id="form-place"></div>
	<div id="table-place"></div>
</nt>

<nt name="gallery-edit">
	<div id="view-place"></div>
	<div id="form-place"></div>
	<div id="table-place"></div>
</nt>
